
// COLORS
$app-white: #fff;
$app-blue-1: #337ab7;
$app-blue-2: #4da2ec;
$app-blue-3: #f5f8ff;
$app-gray: #1d1d1d;
$app-gray-light: #ccc;
$app-gray-disabled: #d8d8d8;
$app-gray-disabled-accent: #676767;
$app-error-red: #f21100;
$app-success-green: #199e04;

$app-shadow: 0 .4rem .4rem rgba(0, 0, 0, .05);